.dayDiscountItem:not(:last-child) {
    margin-right: 55px;
}

.dayDiscountItem__img-block {
    position: relative;
    max-width: 300px;
    max-height: 400px;
    cursor: pointer;
}

.dayDiscountItem__img {
    width: 100%;
    height: 100%;
}

.dayDiscountItem__discount-tag {
    position: absolute;
    top: 0;
    left: 0;
    background: #FACF19;
    padding: 4px;
    font-weight: 700;
}

.dayDiscountItem__discount {
    color: red;
    font-size: 24px;
    font-weight: 500;
}

.dayDiscountItem__full-price {
    color: #959595;
    text-decoration: line-through;
    font-size: 16px;
}
