.productPage__recommendations {
    border-top: 1px solid #000;
    padding: 0 100px;
}

.productPage__recommendationsTitle {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    margin: 30px 0;
}