.productInfoMain {}


.productInfoMain h2 {
   font-size: 32px;
   font-weight: 500;
   line-height: 1.2;
}

.productInfoMain__price {
   font-size: 32px;
   font-weight: 500;
   line-height: 1.2;
   display: flex;
   align-items: center;
   gap: 30px;
   margin-bottom: 30px;
}

.productInfoMain__sizes {
   display: flex;
   align-items: center;
   gap: 20px;
   margin-bottom: 30px;
}

.productInfoMain__sizes ul {
   flex-wrap: wrap;
   display: flex;
   align-items: center;
   gap: 10px;
}

.productInfoMain__sizes li {
   min-width: 80px;
   text-align: center;
   border-radius: 50pc;
   border: 1px solid transparent;
}

.productInfoMain__sizes li:hover {
   border: 1px solid #000;
}

.productInfoMain__sizesInput {
   display: none;
}

.productInfoMain__sizesList {
   display: inline-block;
   width: 100%;
   height: 100%;
   font-size: 24px;
   line-height: 1.2;
   font-weight: 500;
   border: 1px solid #000;
   border-radius: 50pc;
   padding: 3px 10px;
   cursor: pointer;
}

.productInfoMain__sizesInput:checked+.productInfoMain__sizesList {
   background-color: #dddddd;
}


.productInfoMain__color {
   margin-bottom: 40px;
}

.productInfoMain__colorWrapper {
   display: flex;
   align-items: end;
   gap: 20px;
   margin-bottom: 30px;
}

.productInfoMain__colorWrapper span {
   font-size: 30px;
   line-height: 1.1;
}

.productInfoMain__color ul {
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
}

.productInfoMain__color li {
   overflow: hidden;
   flex: 0 0 75px;
   width: 75px;
   aspect-ratio: 75/120;
   background-color: #c6c6c6;
}

.productInfoMain__color a {
   display: inline-block;
   position: relative;
   width: 100%;
   height: 100%;
}

.productInfoMain__color img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   -o-object-fit: cover;
   object-fit: cover;
}

.productInfoMain__details {
   margin-bottom: 30px;
}

.productInfoMain__detailsTitle {
   margin-bottom: 25px;
}

.productInfoMain__detailsItems {}

.productInfoMain__detailsItem {
   display: grid;
   grid-template-columns: minmax(100px, 280px) 1fr;
   gap: 30px;
}

.productInfoMain__detailsItem:not(:last-child) {
   margin-bottom: 20px;
}

.productInfoMain__detailsLabel {
   font-size: 24px;
   font-weight: 500;
   line-height: 1.2;
}

.productInfoMain__detailsText {
   font-size: 24px;
   line-height: 1.2;
}

/* =============================== */

.prevPrice {
   text-decoration: line-through;
   font-size: 24px;
   font-weight: 400;
   color: #959595;
}

.discountWrapper {
   display: flex;
   align-items: center;
   gap: 10px;
}

.discount {
   font-size: 16px;
   border: 1px solid #FA6338;
   padding: 0 5px;
}