.productItem {
   display: flex;
   flex-direction: column;
}

.productItem__image {
   display: block;
   aspect-ratio: 250/350;
   background-color: #a0a0a0;
   position: relative;
   overflow: hidden;
}

.productItem__image:hover img {
   transform: scale(1.04);
}

.productItem__image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: 0.3s ease 0s;
}

.productItem__image:not(:last-child) {
   margin-bottom: 0.625rem;
}

.productItem__title {
   display: inline-block;
   font-size: 0.9375rem;
   line-height: 1.2;
   margin-bottom: 0.625rem;
   align-self: start;
}

.productItem__price {
   display: inline-block;
   font-size: 1.5rem;
   font-weight: 500;
   align-self: start;
}

.productItem__price.discount {
   color: #FA6338;
   position: relative;
}

.productItem__price.discount span {
   /* content: "-0%"; */
   position: absolute;
   top: -0.1875rem;
   right: -0.625rem;
   -webkit-transform: translate(100%, 0);
   -ms-transform: translate(100%, 0);
   transform: translate(100%, 0);
   line-height: 1.2;
   padding: 0 0.3125rem;
   font-size: 1rem;
   font-weight: 400;
   border: 0.0625rem solid #FA6338;
}