.giftCardBlock {
   padding-top: 30px;
   border-top: 0.5px solid #000;
   margin-bottom: 40px;
}

.giftCardBlock__wrapper {
   display: flex;
   gap: 40px;
}

.giftCardLink {
   display: inline-block;
   width: 100%;
   font-size: 40px;
   font-weight: 500;
   color: #fff;
   background-color: #000;
   padding: 15px 20px;
   text-align: center;
   border-radius: 50pc;
   margin-top: 50px;
   transition: 0.3s ease 0s;
}

.giftCardLink:hover {
   background-color: #646464;
}

.giftCardBlock__cardImage {
   position: relative;
   width: 650px;
   aspect-ratio: 650/400;
   overflow: hidden;
}

.giftCardBlock__cardImage img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}