.discount__imgBlock {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    aspect-ratio: 300/400;
    margin-bottom: 15px;
}

.discount__imgBlock:hover img {
    transform: scale(1.04);
}

.discount__imgBlock img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease 0s;
}

.discount__discount {
    color: red;
    font-size: 24px;
    font-weight: 500;
}

.discount__discountPercent {
    color: red;
    padding: 1px 2px;
    border: 1px solid red;
}

.discounts__nav {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
}

.buttonLink {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 32px;
    color: #959595;
    transition: 0.3s ease 0s;
}

.buttonLink:hover {
    text-decoration: underline;
}

.buttonLink._active {
    font-weight: 500;
    color: #000;
}

.buttonLinkActive {
    color: #000000;
    cursor: auto;
}