.registerBody {
   background-image: url("../../../imgs/register/bg.svg");
   background-size: cover;
   padding: 30px 0 90px 0;
}

.registerBody__container {
   max-width: 1480px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
}

.registerBody__textBlock {
   max-width: 775px;
}

.registerBody__title {
   font-size: 80px;
   font-weight: 500;
   color: #3A3A3A;
   margin-bottom: 35px;
}

.registerBody__text {
   font-size: 35px;
   line-height: 1.2;
   margin-bottom: 35px;
}

.registerBody__btn {
   display: inline-block;
   font-size: 48px;
   font-weight: 500;
   color: #fff;
   background-color: #3A3A3A;
   padding: 10px 30px;
   border-radius: 50pc;
}

.registerBody__image img {
   max-width: 100%;
}