.giftCardsPopulars {
   margin-bottom: 60px;
}

.giftCardsPopulars__title {
   font-size: 22px;
   font-weight: 500;
   margin-bottom: 30px;
}

.giftCardsPopularsItems {
   display: grid;
   gap: 44px;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}