.sellerRegist {
   padding: 30px 0;
}

.sellerRegist form button {
   font-size: 30px;
   font-weight: 500;
   color: #fff;
   background-color: #000;
   padding: 12px 20px;
   border-radius: 50pc;
}

.sellerRegist__title {
   font-size: 40px;
   font-weight: 500;
   margin-bottom: 30px;
}

.sellerRegist__formBody {
   margin-bottom: 30px;
}

.sellerRegist__checkboxBlock {
   margin-bottom: 50px;
}

.formItemWrapper {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 100px;
}

.formItemWrapper:not(:last-child) {
   margin-bottom: 30px;
}

.formItem input {
   width: 100%;
   border-radius: 15px;
   padding: 10px;
}

.sellerRegist__phone {
   display: flex;
   align-items: center;
}


.sellerRegist__phone span {
   border-radius: 15px 0 0 15px;
   padding: 13px 10px;
   border: 1px solid #000;
   border-right: none;
   height: 46px;
}

.sellerRegist__phone input {
   border-radius: 0 15px 15px 0;
}

.formItem {}

.formItem label {
   font-size: 30px;
   margin-bottom: 20px;
}



.formItem input::placeholder {
   color: #919191;
}

.formInput {
   display: block;
   border: 3px solid #000000;
   border-radius: 50pc;
   padding: 9px 30px;
   font-size: 18px;
   width: 100%;
}

.formLabel {
   position: relative;
   padding-left: 40px;
}

.formLabel::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 0;
   transform: translate(0, -50%);
   width: 20px;
   height: 20px;
   border: 1px solid #000;
   z-index: 5;
   cursor: pointer;
}

.formCheckBox:checked+.formLabel::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 0;
   transform: translate(0, -50%);
   width: 20px;
   height: 20px;
   border: 5.5px solid #7581E9;
}

.error {
   background-color: rgba(255, 0, 0, 0.822);
   color: #fff;
   padding: 20px;
   border-radius: 0.9pc;
   margin-bottom: 15px;
   line-height: 1.2;
}