.naviMain {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   gap: 0.9375rem;
   padding-top: 1.875rem;
   padding-bottom: 4.375rem;
}

.naviMain__arrowLeft {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.375rem;
   font-weight: 500;
   padding: 0.9900rem 1.25rem;
   border-radius: 0.625rem;
   border: 0.0625rem solid #000;
}

.naviMain__arrowLeft img {
   max-width: 20px;
   max-height: 10px;
   rotate: 90deg;
}

.naviMain__item {
   font-size: 1.375rem;
   font-weight: 500;
   padding: 0.625rem 1.25rem;
   border-radius: 0.625rem;
   border: 0.0625rem solid #000;
}

.naviMain__item.disabled {
   pointer-events: none;
   opacity: 0.4;
}

.naviMain__item.active {
   border: 2px solid #000;
}

.naviMain__arrowRight {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.375rem;
   font-weight: 500;
   padding: 0.9900rem 1.25rem;
   border-radius: 0.625rem;
   border: 0.0625rem solid #000;
}

.naviMain__arrowRight img {
   max-width: 20px;
   max-height: 10px;
   rotate: -90deg;
}