.buttons__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonLink {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 32px;
    color: #959595;
    margin: 20px 0;
}

.buttonLink:not(:last-child) {
    margin-right: 30px;
}

.buttonLinkActive {
    color: #000000;
    cursor: auto;
}