
.adminTabs {
    margin: 50px 0;
}

.buttons__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonLink {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 32px;
    color: #959595;
    margin: 20px 0;
}

.buttonLink:not(:last-child) {
    margin-right: 30px;
}

.buttonLinkActive {
    color: #000000;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageButton {
    border: 1px solid #000000;
    padding: 10px 15px;
    border-radius: 8px;
}

.pageItem:not(:last-child) {
    margin-right: 10px;
}

.pageButtonActive {
    border: 3px solid #000000;
}

.pageNextPrevious {
    display: none;
}