.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #fff;
   z-index: 80;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.3s ease 0s;
   opacity: 0;
   visibility: hidden;
}

.preloader__content {
   position: relative;
}

.preloader__image {}

.preloader__loader {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 200%;
   animation: rotateAnim 4s linear infinite;
}

@keyframes rotateAnim {
   0% {
      transform: translate(-50%, -50%) rotate(0deg);
   }

   100% {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

.preloader__image img,
.preloader__loader img {
   max-width: 100%;
}