.giftCardsList {
   padding: 40px 0 80px 0;
}

.giftCardsList__containerMax {}

.giftCardsList__title {
   text-align: center;
   font-size: 40px;
   font-weight: 500;
   margin-bottom: 40px;
}

.giftCardsListItems {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   row-gap: 35px;
   column-gap: 40px;
}