.main__sort {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: end;
   padding: 2.1875rem 0 0.625rem 0;
}


.main__select {
   position: relative;
   margin-right: 5.625rem;
}

.main__selectButton {
   position: relative;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 14px;
   background-color: #fff;
   padding: 5px;
   min-width: 150px;
}

.main__selectButton._open span {
   rotate: 180deg;
}

.main__selectButton span {
   display: block;
   width: 15px;
   height: 7px;
   flex: 0 0 15px;
}

.main__selectButton img {
   max-width: 100%;
}

.main__selectBody {
   z-index: 1;
   position: absolute;
   top: 30px;
   left: 0;
   background-color: #fff;
   padding: 10px;
   width: 100%;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
   border-top: 1px solid #898989;
   border-radius: 0 0 8px 8px;
}

.main__selectItem {
   font-size: 18px;
   line-height: 1. 2;
   text-align: left;
   display: block;
   width: 100%;
}

.main__selectItem:hover {
   text-decoration: underline;
}

.main__selectItem:not(:last-child) {
   margin-bottom: 5px;
}