.productList__container {
   display: flex;
   flex-direction: column;
}

.productList {
   padding-top: 30px;
   margin-bottom: 80px;
}

.productList__items {
   display: -ms-grid;
   display: grid;
   gap: 2.75rem;
   grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
}