.recommendations {
   padding-top: 30px;
   border-top: 0.5px solid #000;
   margin-bottom: 80px;
}

.recommendations__title {
   font-size: 32px;
   font-weight: 500;
   line-height: 1.2;
   margin-bottom: 30px;
}