.addProduct {
   padding: 30px 0 200px 0;
}

.addProduct__container {}

.addProduct__title {
   font-size: 40px;
   font-weight: 500;
   margin-bottom: 40px;
}

.addProduct__body {}

.addProduct__form {}

.formAddProduct {
   max-width: 550px;
}

.formAddProduct__item:not(:last-child) {
   margin-bottom: 30px;
}

.formAddProduct__item {}

.formAddProduct__item label,
.formAddProduct__item h3 {
   font-size: 30px;
   margin-bottom: 20px;
}

.formAddProduct__item input {
   padding: 18px;
   border-radius: 15px;
}

.formAddProduct__item textarea {
   display: block;
   width: 100%;
   border-radius: 15px;
   border: 1px solid #000;
   padding: 20px;
   min-height: 170px;
}


.formAddProduct_addImageTitle {}

/* ======================================================================================================= */

.formAddProduct_addImageBody {
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
}

.formAddProduct_addImageInputBlock {
   position: relative;
   display: inline-block;
}

.formAddProduct_addImageInputBlock input {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   font-size: 0;
   cursor: pointer;
   z-index: 5;
}

.formAddProduct_addImageInputBlock button {
   flex: 0 0 150px;
   width: 150px;
   height: 150px;
   border-radius: 20px;
   border: 3px dashed #000;
   background-color: transparent;
}

.formAddProduct_addImageInputBlock button img {
   transition: 0.3s ease 0s;
}

.formAddProduct_addImageInputBlock:hover button img {
   transform: scale(1.1);
}

.formAddProduct_addImageItem {
   position: relative;
   overflow: hidden;
   aspect-ratio: 150/150;
   flex: 0 0 150px;
   width: 150px;
   border-radius: 20px;
   border: 3px solid #000;
   cursor: pointer;
}

.formAddProduct_addImageItem::before {
   content: url('../../imgs/basketDeleteWhite.svg');
   display: flex;
   align-items: center;
   justify-content: center;
   transform: scale(2.5);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
   background-color: #0000006a;
   opacity: 0;
   visibility: hidden;
   transition: 0.3s ease 0s;
}

.formAddProduct_addImageItem:hover::before {
   opacity: 1;
   visibility: visible;
}

.formAddProduct_addImageItem img {
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   width: 100%;
   height: 100%;
}

/* ======================================================================================================= */

.formAddProduct__inputBlock {
   display: flex;
   align-items: center;
   gap: 30px;
}

.formAddProduct__inputBlock:not(:last-child) {
   margin-bottom: 20px;
}

.formAddProduct__inputBlock button {
   color: #919191;
   padding: 20px;
   border-radius: 15px;
   border: 1px solid #000;
   min-height: 100%;
   transition: 0.3s ease 0s;
}

.formAddProduct__inputBlock button:hover {
   color: #000;
   background-color: #dcdcdc;
}

.formAddProduct__addBlock {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 15px;
}

.formAddProduct__addBlockItem {
   display: inline-flex;
   align-items: center;
   height: 100%;
}

.formAddProduct__addBlockItem span {
   display: block;
   border: 1px solid #000;
   padding: 5px;
   border-radius: 0 50pc 50pc 0;
   height: 100%;
   border-left: 0;

}

.formAddProduct__addBlockItem button {
   border: 1px solid #000;
   padding: 5px 10px;
   border-radius: 50pc 0 0 50pc;
   transition: 0.3s ease 0s;
}

.formAddProduct__addBlockItem button:hover {
   background-color: #d2d2d2;
}

.formAddProduct__btn {
   color: #fff;
   background-color: #000;
   font-size: 30px;
   font-weight: 500;
   padding: 12px 20px;
   border-radius: 15px;
}