.itemOffers {
   text-align: center;
}

.itemOffers__image:not(:last-child) {
   margin-bottom: 1.25rem;
}

.itemOffers__image {
   overflow: hidden;
   border-radius: 50%;
}

.itemOffers__image:hover a {
   transform: scale(1.06);
}

.itemOffers__image a {
   position: relative;
   display: block;
   overflow: hidden;
   aspect-ratio: 125/125;
   background-color: #a0a0a0;
   transition: 0.3s ease 0s;
}

.itemOffers__image img {
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.itemOffers__title._active {
   font-weight: 500;
}

.itemOffers__title:hover {
   text-decoration: underline;
}