.giftCardSlider {
   display: flex;
   gap: 10px;
}

#subGiftCardSlider {
   width: 100px;
   max-height: 690px;
}

#subGiftCardSlider img {
   max-width: 100%;
}

.giftCardSliderLink {
   display: inline-block;
   width: 100%;
   font-size: 40px;
   font-weight: 500;
   color: #fff;
   background-color: #000;
   padding: 15px 20px;
   text-align: center;
   border-radius: 50pc;
   margin-top: 50px;
}

.mainGiftCardSlider {
   position: relative;
   aspect-ratio: 650/400;
   overflow: hidden;
}

.mainGiftCardSlider img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}