body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper {
  max-width: 650px;
}

.swiper-wrapper {
  max-width: 650px;
}

.swiper-slide {
  max-width: 650px;
}

.subProductSlider .swiper-slide {
  cursor: pointer;
}

.subGiftCardSlider .swiper-slide {
  cursor: pointer;
}

.swiper-slide-thumb-active {
  position: relative;
}

.swiper-slide-thumb-active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
}

body.userOpen #user {
  transform: translate(0, 0);
}