body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper {
  max-width: 650px;
}

.swiper-wrapper {
  max-width: 650px;
}

.swiper-slide {
  max-width: 650px;
}

.subProductSlider .swiper-slide {
  cursor: pointer;
}

.subGiftCardSlider .swiper-slide {
  cursor: pointer;
}

.subProductSlide::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 3px solid #000;
  transition: 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.swiper-slide-thumb-active::before {
  opacity: 1;
  visibility: visible;
}

body.userOpen #user {
  transform: translate(0, 0);
}

.preloader._active {
  opacity: 1;
  visibility: visible;
}

.productInfoMain__colorItem::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 3px solid #000;
  transition: 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.productInfoMain__colorItem.active::before {
  opacity: 1;
  visibility: visible;
}