@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");

* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   min-width: 320px;
}

body {
   color: #000;
   line-height: 1;
   font-family: "Inter";
   font-size: 1.25rem;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
   font-family: "Inter";
   font-size: inherit;
   line-height: inherit;
}

button {
   cursor: pointer;
   color: inherit;
   background-color: transparent;
}

a {
   color: inherit;
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

input[type=checkbox] {
   display: none;
}

[class*=__container] {
   max-width: 109.375rem;
   margin: 0 auto;
   padding: 0 0.9375rem;
}